## creating csv file

In [2]:
person={"fname":"sopan","lname":"kshirsagar",
        "email":"sopankshirsagar2611@gmail.com"}    # python simple dictionary

In [3]:
people={"fname":["sopan","rushi","vishal"],
       "lname":["kshirsagar","salunkhe","shinde"],
       "email":["sopan@gmail","rushi@gmail","vishal@gmail"]}    # dictionary with multiple values

In [4]:
print(people['lname'])

['kshirsagar', 'salunkhe', 'shinde']

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(people)

In [7]:
df

    fname       lname         email
0   sopan  kshirsagar   sopan@gmail
1   rushi    salunkhe   rushi@gmail
2  vishal      shinde  vishal@gmail

In [8]:
df['email']

0     sopan@gmail
1     rushi@gmail
2    vishal@gmail
Name: email, dtype: object

In [9]:
type(df['email']) # output series means rows or array or 1D

pandas.core.series.Series

In [10]:
df.email

0     sopan@gmail
1     rushi@gmail
2    vishal@gmail
Name: email, dtype: object

In [11]:
df[['lname','email']]

        lname         email
0  kshirsagar   sopan@gmail
1    salunkhe   rushi@gmail
2      shinde  vishal@gmail

In [12]:
df.columns  # displays columns only

Index(['fname', 'lname', 'email'], dtype='object')

In [13]:
df.iloc[0] # iloc display rows integer wise (accept only integer )

fname          sopan
lname     kshirsagar
email    sopan@gmail
Name: 0, dtype: object

In [18]:
df.iloc[[0,2]]   #in parameter we can gives number only int

    fname       lname         email
0   sopan  kshirsagar   sopan@gmail
2  vishal      shinde  vishal@gmail

In [19]:
df.loc[[0,1],['email','lname']]  #in parameters takes string only

         email       lname
0  sopan@gmail  kshirsagar
1  rushi@gmail    salunkhe

In [20]:
df.shape

(3, 3)

In [21]:
df['email']

0     sopan@gmail
1     rushi@gmail
2    vishal@gmail
Name: email, dtype: object

In [22]:
df.set_index('email',inplace=True)  # make the index and update the original dataset

In [23]:
df

               fname       lname
email
sopan@gmail    sopan  kshirsagar
rushi@gmail    rushi    salunkhe
vishal@gmail  vishal      shinde

In [24]:
df.index

Index(['sopan@gmail', 'rushi@gmail', 'vishal@gmail'], dtype='object', name='email')

In [25]:
df.loc['rushi@gmail','lname']

'salunkhe'

In [26]:
df.iloc[0]

fname         sopan
lname    kshirsagar
Name: sopan@gmail, dtype: object

In [ ]:
df.reset_index(inplace=True)
df